################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eintech/eintech.api/bin/Debug/net5.0
